# Airflow and Execution Artifacts 
airflow.*
logs/
simple_auth_manager_passwords.json.generated

# Python and Dependencies 
venv/
__pycache__/

# Project Data 
data/

# Sensitive Information 
.env

# Miscellaneous / Non-Source Files 
*.pdf
*.txt