# Airflow and Execution Artifacts 
airflow.*
logs/
simple_auth_manager_passwords.json.generated

# Python and Dependencies 
venv/
__pycache__/

# Project Data 
bronze_layer/
silver_layer/
gold_layer/

# Sensitive Information 
.env

# Miscellaneous / Non-Source Files 
*.pdf

# ruff
.ruff_cache/

# pytest
.pytest_cache/
.pytest_cache/*

# Google Credentials
credentials/

# Other
other/

# Experiment Artifacts
experiments/data/